NUXT_MAILTRAP_HOST=live.smtp.mailtrap.io
NUXT_MAILTRAP_PORT=2525
NUXT_MAILTRAP_USER=your_mailtrap_username
NUXT_MAILTRAP_PASS=your_mailtrap_password
NUXT_MAILTRAP_SECURE=false
NUXT_MAILTRAP_FROM_EMAIL=hello@yourdomain.com
NUXT_MAILTRAP_FROM_NAME=Urban Haven
NUXT_MAILTRAP_TO_EMAIL=inbox@yourdomain.com
